@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
  .link:hover {
    cursor: pointer;
    text-decoration: underline;
  }

  .navbar {
    @apply h-12 lg:h-24 bg-transparent  fixed w-full left-0 top-0 flex  items-center z-50 px-0 xl:px-64;
  }

  .swiper-button-prev,
  .swiper-button-next {
    display: flex;
    align-items: center;
    justify-content: center;
    color: white !important;
  }
}
